---
import ContactForm from '../components/ContactForm.astro';
import { ContactSection } from '../components/ContactSection';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Contact">
	<Header/>
        <main class="flex items-center justify-center flex-col h-full py-12 px-8 md:p-16">
            <ContactForm/>
            <ContactSection/>
        </main>
	<Footer/>
</Layout>

<style>
	
</style>
