---
import {ContactForm} from '../components/contact/ContactForm.tsx';
import { ContactSection } from '../components/contact/ContactSection.tsx';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Contact">
    <main class="flex items-center justify-center flex-col h-full py-12 px-8 md:p-16">
        <ContactForm client:only/>
        <ContactSection/>
    </main>
</Layout>

    