---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Work">
	<Header/>
    <div>555</div>
	<Footer/>
</Layout>