---
import {ContactForm} from '../components/contact/ContactForm.tsx';
import { ContactSection } from '../components/contact/ContactSection.tsx';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Contact">
    <main class="flex items-center justify-center flex-col h-full min-h-screen bg-transparent px-6 py-20 md:px-12 md:py-24">
        <div class="w-full max-w-5xl space-y-20">
            <ContactForm client:only/>
            <ContactSection client:only="react"/>
        </div>
    </main>
</Layout>

    
