---
import Nav from "./Nav";

---

<header class="sticky top-0 left-0 bg-white right-0 flex items-center justify-between md:h-40 h-20 p-8 md:p-20 z-50">
    <a href="/" class="w-full text-xl md:text-3xl font-bold relative z-50">KOSEI KITADA</a>
    <Nav client:only/>
</header>