---

import Work from "../../components/work/Work";
import Layout from "../../layouts/Layout.astro";
import { getGalleryDetail } from "../../library/microcms";
import { getGalleries } from "../../library/microcms";

export async function getStaticPaths() {
  const resopnse = await getGalleries({fields: ['id']})
  return resopnse.contents.map((res) => ({
    params: {
      galleryId: res.id
    }
  }))
}

const { galleryId } = Astro.params;
const gallery = await getGalleryDetail(galleryId as string);
const images = gallery.imagesSrc.map(imageSrc => imageSrc.url)
---

<Layout title="Gallery">
  <main class="h-full min-h-screen bg-transparent px-6 py-20 md:px-12 md:py-24">
    <div class="w-full max-w-7xl mx-auto">
      <Work images={images} client:visible />
    </div>
  </main>
</Layout>
